attrs==19.3.0
Automat==20.2.0
autopep8==1.5.2
base32hex==1.0.2
bcrypt==3.1.7
beautifulsoup4==4.8.2
blinker==1.4
bs4==0.0.1
camelot-py==0.7.3
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
click-default-group==1.2.2
cloudinary==1.20.0
colorama==0.4.3
colouration==2020.4.28
constantly==15.1.0
cryptography==2.9
cssselect==1.1.0
cycler==0.10.0
db-to-sqlite==1.1.1
defusedxml==0.6.0
dill==0.3.1.1
distro==1.4.0
flake8==3.8.2
flake8-docstrings==1.5.0
Flask==1.1.1
Flask-Jsonpify==1.5.0
Flask-Migrate==2.5.3
Flask-Mobility==1.0.0
Flask-MySQL==1.5.1
Flask-Pusher==3.0
Flask-QRcode==3.0.0
Flask-SocketIO==4.3.0
Flask-SQLAlchemy==2.4.1
Flask-Track-Usage==2.0.0
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
gunicorn==20.0.4
html5lib==1.0.1
hyperlink==19.0.0
ibm-cloud-sdk-core==1.5.1
ibm-watson==4.5.0
idna==2.8
itsdangerous==1.1.0
jaraco.itertools==5.0.0
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.1
json5==0.9.4
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.4.2
Mako==1.1.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mechanize==0.4.5
parsel==1.5.2
parso==0.7.0
passlib==1.7.2
pbr==5.4.4
pdfminer.six==20200124
pefile==2019.4.18
Pillow==8.1.1
SpeechRecognition==3.8.1
SQLAlchemy==1.3.15
sqlite-utils==2.3.1
sqlparse==0.3.0
stevedore==1.31.0
stripe==2.48.0
tabula-py==2.0.4
tabulate==0.8.6
tblib==1.6.0
Textcipher==0.0.1
toml==0.10.1
tornado==4.5.3
virtualenv==16.7.9
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
w3lib==1.21.0
webencodings==0.5.1
websocket-client==0.48.0
Werkzeug==1.0.0
whitenoise==5.1.0
wolframalpha==4.0.0
wrapt==1.12.1
WsgiDAV==3.0.3
WTForms==2.2.1
xlrd==1.2.0
XlsxWriter==1.2.7
xmltodict==0.12.0
yapf==0.30.0
youtube-search==0.1.4
zope.interface==5.1.0
