<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style media="screen">
      form{

        margin: 10%;
      }
      .head{
          text-justify: auto;
          text-align: center;
          font-size: large;
          font-weight: bolder;
          font-family: cursive;
          font-style: italic;
        }
        .nav-wrapper{
          color: rgb(0, 0, 138);
          background-color: rgb(0, 0, 138);
        }
        body {
          background-color: black;
          color: white;
        }
    </style>
       <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
               
  </head>



  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Project Maca</a>
        <ul class="left hide-on-med-and-down">
          <li><a href="home.html">Home</a></li>
          <li><a href="./index.html">About Us</a></li>
          <li><a href="./get_audio.html">Get Started</a></li>
          <li><a href="./recommendation.html">Recommendation</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <form action="" method="post" target="" id="search-form">
        <input name="q" type="text" style="display:none;" id="inputformtext"placeholder="How are you today? " autocomplete="off" autofocus>
        <!-- <button type="button"><i class="fa fa-microphone"></i></button>  -->
        <br>
        <input style=" display: none;" id="gobutton"type="submit" name="" value="Let's Go">

      </form>
      <p class="info"></p>
    </div>







<script type="text/javascript">

const searchForm = document.querySelector("#search-form");
const searchFormInput = searchForm.querySelector("input"); // <=> document.querySelector("#search-form input");
const info = document.querySelector(".info");

// The speech recognition interface lives on the browser’s window object
const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition; // if none exists -> undefined

if(SpeechRecognition) {
console.log("Your Browser supports speech Recognition");

const recognition = new SpeechRecognition();
recognition.continuous = true;
// recognition.lang = "en-US";

searchForm.insertAdjacentHTML("beforeend", '<button type="button"><i class="fa fa-microphone"></i></button>');


const micBtn = searchForm.querySelector("button");
const micIcon = micBtn.firstElementChild;

micBtn.addEventListener("click", micBtnClick);
function micBtnClick() {
  if(micIcon.classList.contains("fa-microphone")) { // Start Voice Recognition
    recognition.start(); // First time you have to allow access to mic!
  }
  else {
    recognition.stop();
  }
}

recognition.addEventListener("start", startSpeechRecognition); // <=> recognition.onstart = function() {...}
function startSpeechRecognition() {
  micIcon.classList.remove("fa-microphone");
  micIcon.classList.add("fa-microphone-slash");
  searchFormInput.focus();
  console.log("Voice activated, SPEAK");
}

recognition.addEventListener("end", endSpeechRecognition); // <=> recognition.onend = function() {...}
function endSpeechRecognition() {
  micIcon.classList.remove("fa-microphone-slash");
  micIcon.classList.add("fa-microphone");
  searchFormInput.focus();
  console.log("Speech recognition service disconnected");
}

recognition.addEventListener("result", resultOfSpeechRecognition); // <=> recognition.onresult = function(event) {...} - Fires when you stop talking
function resultOfSpeechRecognition(event) {
  const current = event.resultIndex;
  const transcript = event.results[current][0].transcript;

  if(transcript.toLowerCase().trim()==="stop recording") {
    recognition.stop();
  }
  else if(!searchFormInput.value) {
    searchFormInput.value = transcript;
        document.getElementById("inputformtext").style.display = "block";
        document.getElementById("gobutton").style.display = "block";
        console.log("DisEngaged");
  }
  else {

    if(transcript.toLowerCase().trim()==="reset") {
      searchFormInput.value = "";
      document.getElementById("inputformtext").style.display = "none";
      document.getElementById("gobutton").style.display = "none";
      console.log("DisEngaged");
    }
    else {
      searchFormInput.value = transcript;
    }
  }
  // searchFormInput.value = transcript;
  // searchFormInput.focus();
  // setTimeout(() => {
  //   searchForm.submit();
  // }, 500);
}

info.textContent = 'Voice Commands: "stop recording", "reset" ';

}
else {
console.log("Your Browser does not support speech Recognition");
info.textContent = "Your Browser does not support Speech Recognition";
}
</script>
  </body>
</html>
