<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style media="screen">
      #listen{

        color: black;
        border-radius: 7px;
        border-style: solid;
        border-color: black;
        font-weight: bold;

      transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      }

      #listen:hover{
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
  background-position: right center;
          color: white;

      }

      #whole-body{
        border: 4px solid #969696;
      }
    </style>

  </head>
  <body>

<header class="text-gray-500 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">

    <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0">

      <span class="ml-3 text-xl xl:block lg:hidden">Project maca</span>
    </a>
    <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
      <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">
        Know more

      </button>
    </div>
  </div>
</header>

<!-- {{track}} -->
<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        {% for post in post%}
        <div id="whole-body"class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden" src="{{post.artist_link_value}}">

        <img src="{{post.artist_pic_value}}" class="object-cover object-center w-full h-full block" alt="Picture">

          </a>
          <div class="mt-4">
            <h3 class="text-gray-900 title-font text-lg font-medium">{{post.title_value}}</h2>

            <h2 class="mb-8 leading-relaxed">{{post.artist_name_value}}</h3>
              {% if {{post.artist_link_value}}|length %}
                <a href="https://youtube.com{{post.artist_link_value}}"><span id="listen"> &nbsp; Listen to it on Youtube&nbsp;</span></a>
                {% endif %}

          </div>
      </div>
        {% endfor %}


    </div>
  </div>
</section>

<footer class="text-gray-500 bg-gray-900 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">

      <span class="ml-3 text-xl"> © Project maca - beta</span>
    </a>

  </div>
</footer>


  </body>
</html>
